.companyPara {
    width: 80vw;
  color: #662113;
  text-align: center;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10vw;
}

#companyImg{
    width: 60vw;
    margin-left: 20vw;
}